

            .container {
                display: flex; /* Enable flexbox layout */
                justify-content: flex-start; /* Align sidebar to the left */
                align-items: flex-start; /* Ensure both elements are at the same vertical level */
                margin: 20px ;

            }
            .slidebar {
                height: 490px;
                width: 160px;
                border-radius: 5px;
                background-color: #eee;
                padding: 50px;
                text-align: center;
                margin-left:-950px;
                
            }

            .slidebar button{
                background-color: #232f3e;
                color: white;
                border:none;
                width:260px;
                margin : 90px 100px 50px -50px ;
                display: block;
                padding: 10px 8px 6px 16px;
                text-align: left;
                font-size: 20px;
                cursor:pointer;
            }  

            .slidebar button:hover {
                background-color:#ff9900; 
            }

            h2{
                font: bold 25px sans-serif; 
                color: #333;
            }
            
            .content{
                margin-left:520px;
                margin-right:50px;
                display:flex;
                padding:20px;

            }
            form {
                background-color: white;
                padding: 20px;
                border-radius: 8px; /* rounds the coners*/
                width: 300px;
                display: flex;
                flex-direction: column;/* arrange the elemints in a virtival columns*/
                
            }
            .form button{
                color:white;
                background-color:#ff9900;
                padding:8px;
                font-size:20px;
                cursor:pointer;
                border:none;
                margin-top:7px;
                width:500px;
            }
            .form button:hover{
                background-color:#e18e12;
            }
            .form-label{
                font-size:25px;
                color:black;
                margin-bottom:4px;
                font-style:sans-serif
            }
            form h2 {
                text-align: center;
                margin-bottom: 20px;
            }

            form input[type="text"],
            form input[type="password"] {
                padding: 10px;
                margin-bottom: 10px;
                border: 2px solid #ccc;
                border-radius: 6px;
                font-size: 20px;
                width: 500px; 
                box-sizing: border-box;
            }
            #increase{
                font-size:30px;
                margin-bottom:20px;
                margin-top:-18px;
                margin-left:50px;
                margin-right:-180px;
                padding:10px;
            }

            .header {
                background-color: #232f3e; 
                color: white; 
                padding: 15px 20px;
                text-align: center; 
            }
            
            .header h1 {
                margin: 0;
                font-size: 1.5em; 
                font-weight: bold; 
            }
            
            .header nav {
                margin-top: 10px;
            }
            
            .header nav a {
                color: white; 
                text-decoration: none; /* Remove underline from links */
                margin: 0 15px; /* Space between the links */
                font-size: 1.0em; 
            }
            
            .header nav a:hover {
                text-decoration: underline; /* Underline the link on hover */
                color: #ff9900; 
            }
            
            footer {
                background-color: #232f3e;
                color: white;
                padding: 10px;
                text-align: center;
            }
            