/* CSS for Login and Signup Forms */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="text"]:focus, input[type="password"]:focus {
    border-color: #28a745;
    outline: none;
  }
  
  .edit-user{
    text-align: left;
    margin-left: 30px;
    
  }
  
  button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .error {
    color: red;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .head{
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    color:blueviolet;
    text-align: center;
  }